<section class="shop-content">
  <div class="left">
    <img class="left-img" ng-src="./images/WildWickedTN.jpg" alt="">
    <p class="wild">Wild & Wicked</p>
    <p class="wild-price">$25.99</p>
    <button class="btn waves-effect waves-light grey" type="submit" name="action">Add To Cart</button>

  </div>

  <div class="right">
    <img class="right-img" ng-src="./images/DiabloTN.jpg" alt="">
    <p class="diablo">Diablo</p>
    <p class=diablo-price>$25.99</p>
    <button class="btn waves-effect waves-light grey" type="submit" name="action">Add To Cart</button>
  </div>
</section>
