.contact-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.keep-up {
  text-align: center;
  font-size: 3rem;

}

.email-input {
  width: 250px;
  height: 40px;
}


.social {

}

.twitter {
  background: url("../../images/twitter.png") center no-repeat;
}

.facebook {

}
