// @import url('https://fonts.googleapis.com/css?family=Muli:400,700i');

.back-image {
  background: url("../../images/back-image.jpeg") center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  clear: both;
}

// .quote {
//   font-family: 'Muli', sans-serif;
//   font-size: 1.7rem;
//   color: black;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: flex-start;
//   z-index: 15;
//   margin-bottom: 460px;
// }
