.shop-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.left {

}

.left-img {
  width: 200px;
  height: 200px;
}

.left-btn {
  display: flex;
  text-align: center;
  height: 30px;
  background-color: silver;

}

.right {

}

.right-img {
  width: 200px;
  height: 200px;
}

.right-btn {
display: flex;
text-align: center;
height: 30px;
background-color: silver;
}
