.shop-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}





.left-img {
  width: 200px;
  height: 200px;
}

.left-btn {
  display: flex;
  text-align: center;
  height: 30px;
  background-color: silver;
}

.wild,
.wild-price {
font-size: 1.3rem;
}

.wild {
  margin-left: 15px;

}

.wild-price {
  margin-left: 45px;
}

.diablo,
.diablo-price {
  font-size: 1.3rem;
  margin-left: 45px;
}



.right-img {
  width: 200px;
  height: 200px;
}

.right-btn {
display: flex;
text-align: center;
height: 30px;
background-color: silver;
}
